.page-container{
    position: relative;
}
.page{
    width: 100%;
    min-height: 100%;
    position: absolute;
    top:0;
    left:0;
    // left:100%;
    opacity: 0;
    transform: translate3d(100%,0,0);
    display: none;
}
.page-1{
    opacity: 1;
    // left:0;
    // z-index: 9;
    transform: translate3d(0,0,0);
    display: block;
}
